/* common */
:root {
  --menu-selected-item-bg: #e61e2b;
  --menu-unselected-item-bg-1: #1c1c1c;
  --menu-unselected-item-bg-2: #1c1c1c;
  --selected-menu-text-color: #ffffff;
  --unselected-menu-text-color: #ffffff;
  --floating-wrapper-margin-bottom: 6em;
  --nav-height: 50px;
}

nav {
  /* height: 50px; */
  height: var(--nav-height);
  width: 100%;
}

nav > a {
  color: white;
  flex: 1;
  text-align: center;
  font-size: large;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

nav > a:nth-child(even) {
  /* background-color: #51433f; */
  background-color: var(--menu-unselected-item-bg-2);
  color: var(--unselected-menu-text-color);
}

nav > a:nth-child(odd) {
  /* background-color: #231613; */
  background-color: var(--menu-unselected-item-bg-1);
  color: var(--unselected-menu-text-color);
}

a,
a:hover,
a:active a:focus {
  color: white;
  text-decoration: none !important;
  outline: none !important;
}

/* home */

.page-home .ticker-wrapper {
  border: solid 8px var(--menu-selected-item-bg) !important;
}

.page-home .ticker {
  line-height: 2.25rem;
}

.page-home nav {
  position: fixed;
  bottom: 0;
}

.page-home .content {
  margin-bottom: var(--nav-height);
}

.popup-share-btn {
  position: fixed;
  bottom: 13em;
  right: 2em;
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: var(--menu-selected-item-bg) url(/assets/images/img_share.png)
    no-repeat 0.875em center;
  background-size: 1.313em 1.438em;
  box-shadow: 0 0.563em 0.75em rgb(230 0 42 / 20%);
  text-indent: -5000em;
  border: none;
}

/* 1st */

.page-1st nav {
  position: fixed;
  bottom: 0;
}

.page-1st .content {
  margin-bottom: var(--nav-height);
}

.page-1st nav .active {
  background-color: var(--menu-selected-item-bg);
  color: var(--selected-menu-text-color);
}

.page-1st .floating-home {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(./assets/home.png) no-repeat center center;
  background-size: 4em 4em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
  margin-bottom: 1em;
}

.floating-item {
  margin-left: auto !important;
  right: 1.25em !important;
  margin-right: 1.25em !important;
  pointer-events: auto !important;
}

/* 2nd */

.page-2nd nav {
  position: fixed;
  bottom: 0;
}

.page-2nd .content {
  margin-bottom: var(--nav-height);
}

.page-2nd nav .active {
  background-color: var(--menu-selected-item-bg);
  color: var(--selected-menu-text-color);
}

/* .page-2nd .floating-wrapper {
  position:fixed;
  bottom: 3em;
  right: 0em;
} */

/* .page-2nd .floating-wrapper {
  position: sticky !important;
  bottom: var(--floating-wrapper-margin-bottom) !important;
  right: 0em !important;
  pointer-events: none !important;
  z-index: 2;
} */

.page-2nd .floating-home {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(./assets/home.png) no-repeat center center;
  background-size: 4em 4em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
  margin-bottom: 1em;
}

.page-2nd .floating-share {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(/assets/images/img_b_share.png) no-repeat 0.875em center;
  background-size: 1.313em 1.438em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
}

/* 3rd */

.page-3rd nav {
  position: fixed;
  bottom: 0;
}

.page-3rd .content {
  margin-bottom: var(--nav-height);
}

.page-3rd nav .active {
  background-color: var(--menu-selected-item-bg);
  color: var(--selected-menu-text-color);
}

.page-3rd .floating-home {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(./assets/home.png) no-repeat center center;
  background-size: 4em 4em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
  margin-bottom: 1em;
}

.page-3rd .floating-share {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(/assets/images/img_b_share.png) no-repeat 0.875em center;
  background-size: 1.313em 1.438em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
}

/* 4th */

.page-4th nav {
  position: fixed;
  bottom: 0;
}

.page-4th .content {
  margin-bottom: var(--nav-height);
}

.page-4th nav .active {
  background-color: var(--menu-selected-item-bg);
  color: var(--selected-menu-text-color);
}

/* .page-4th .floating-wrapper {
  position:fixed;
  bottom: 3em;
  right: 0em;
} */

/* .page-4th .floating-wrapper {
  position: sticky !important;
  bottom: var(--floating-wrapper-margin-bottom) !important;
  right: 0em !important;
  pointer-events: none !important;
  z-index: 2;
} */

.page-4th .floating-home {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(./assets/home.png) center center;
  background-size: 4em 4em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
  margin-bottom: 1em;
}

.page-4th .floating-share {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(/assets/images/img_b_share.png) no-repeat 0.875em center;
  background-size: 1.313em 1.438em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
}

/* communicate */

/* for restrict max-width to 600px... uncomment below */
/* IPhone XR's width : 414px */

:root {
  --body-max-width: 600px;
}

body {
  position: relative;
  width: 100%;
  max-width: var(--body-max-width);
  margin: auto;
}

nav {
  max-width: var(--body-max-width);
  z-index: 9999;
}
.floating-wrapper {
  position: absolute !important;
}
.my-modal-content {
  width: 100%;
  max-width: var(--body-max-width);
  height: inherit;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important;
}

.popup-share-btn {
  position: absolute;
}

.page-home .floating-share {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: white url(/assets/images/img_b_share.png) no-repeat 0.875em center;
  background-size: 1.313em 1.438em;
  box-shadow: 0 0.563em 0.75em rgb(0 0 0 / 15%);
  text-indent: -5000em;
  border: none;
}

.page-home .ticker-wrapper {
  max-width: var(--body-max-width);
  margin: auto !important;
}
/* .page-home img {
  max-width: var(--body-max-width);
  max-height: calc(100vh - 100px);
} */

.page-news-detail .header img {
  position: absolute !important;
}
.page-news-detail .header {
  max-width: var(--body-max-width);
  margin: auto !important;
}
.page-news-detail .footer {
  max-width: var(--body-max-width);
  margin: auto !important;
}

.page-news .article .body-preview {
  width: min(calc(100vw - 130px), var(--body-max-width) - 130px);
}

/* for restrict max-width to 600px... uncomment below -----end */

.floating-wrapper-div {
  width: 100% !important;
  max-width: var(--body-max-width) !important;
  margin: auto !important;
  bottom: var(--floating-wrapper-margin-bottom) !important;
  pointer-events: none !important;
}

.navbar-iframe {
  height: var(--nav-height) !important;
}

#overall-a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

.overall-a {
  color: var(--bs-link-color) !important;
  text-decoration: underline !important;
}

body {
  overflow-y: scroll;
}
